<div class="container">
  <div class="feed_container">
    <h3>Recent repos:</h3>
    <ul>
      <% @repos.each do |repo| %>
        <li> <%= repo.svn_url %> </li>
      <% end %>
    </ul>
  </div>
  <div class="feed_container">
    <h3>Recent gists:</h3>
    <ul>
      <% @gists.each do |gist| %>
        <li> <a href=<%= gist.html_url %>><%= gist.html_url %></a></li>
      <% end %>
    </ul>
  </div>


  <div class="activity_container">
    <h3>Recent activity:</h3>
    <ul>
      <% @activity.each do |action| %>
        <li><%= action.payload.commits.first.message %><br><%= action.payload.commits.first.url %></li>
      <% end %>
    </ul>
  </div>
 
</div>
